{% extends "menu/page.html" %}

{% import 'macros/form.html' as form %}

{% block title %}
    {{ _("Create Menu") }}
{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    <li><a href="{{ h.url_for('menu.create') }}">{{ _("Create Menu") }}</a></li>
{% endblock %}

{%- block content %}
    {% block maintag %}<div class="main">{% endblock %}
        <div id="content" class="container">
            {% block main_content %}
                {% block flash %}{{ super() }}{% endblock %}
                {% block toolbar %}{{ super() }}{% endblock %}
                <div class="menu-wrapper">
                    {% block primary %}
                        <div class="module-content">
                            {% block menu_actions %}
                            {% endblock %}
                            <form action="" method="post">
                                {{ form.input("title", label=_("Title"), placeholder="My Custom Menu",value=form_data.title, classes=["control-medium"], is_required=True, attrs={'class': 'form-control', 'required': 'true'}) }}
    
                                {% call form.input("name", label=_("Name"), placeholder="lowercase text separeted by -_",value=form_data.name, classes=[], is_required=True, attrs={'class': 'form-control', 'required': 'true'}) %}

                                    {% set text = "An <strong>unique</strong> menu identifier that will be used in the helpers while calling the specific menu." %}
                                    
                                    {{- form.info(
                                            text=text|safe,
                                            inline=True,
                                            classes=['mt-1']
                                            ) -}}

                                {% endcall %}

                                {% block save %}
                                    <button class="btn btn-primary" type="submit">{{ _('Create') }}</button>
                                {% endblock %}
                            </form>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock -%}

