{% extends 'menu/menu_item/create.html' %}

{% block save %}
    <a class="btn btn-secondary" href="{{ h.url_for('menu_item.list', mid=mid) }}">{{ _('Cancel') }}</a>
    <button class="btn btn-primary" type="submit">{{ _('Update') }}</button>
{% endblock %}

{% block title %}
    {{ _("Update Menu Item") }}
{% endblock %}

{% block breadcrumb_content %}
    <li><a href="{{ h.url_for('menu_item.edit', id=id, mid=mid) }}">{{ _("Update Menu Item") }}</a></li>
{% endblock %}

{% block menu_actions %}
    <div class="d-flex justify-content-end">
        <a class="btn btn-outline-primary me-2" href="{{ h.url_for('menu_item.list', mid=mid) }}">
            {{ _("Back") }}
        </a>
        <a class="btn btn-secondary me-2" href="{{ h.url_for('menu_item_translations.list', mid=mid, id=id) }}">
            {{ _("Translations") }}
        </a>
        <a class="btn btn-danger" href="{{ h.url_for('menu.delete', id=id) }}">
            {{ _("Delete") }}
        </a>
    </div>
{% endblock %}
