{% from "macros/form/attributes.html" import attributes %}

{% macro default_render_links(item, with_children=True) %}
    <li class="{% if item.active %} active {% endif %}">
        {% if not item.url == "<no_link>" %}
            <a class="{% if item.classes %}{{ item.classes }}{% endif %}" href="{{ h.url_for(item.url) }}" {% if item.attributes %} {{ attributes(item.attributes) }} {% endif %}>
                {{ _(item.title) }}
            </a>
        {% else %}
            <span class="{% if item.classes %}{{ item.classes }}{% endif %}" {% if item.attributes %} {{ attributes(item.attributes) }} {% endif %}>
                {{ _(item.title) }}
            </span>
        {% endif %}
        {% if with_children and item.children %}
            <ul>
                {% for child in item.children %}
                    {{ default_render_links(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% macro dropdown_render_links(item) %}
    {% if item.children %}
        <li class="dropdown {% if item.active %} active {% endif %}">
            <a class="{% if item.classes %}{{ item.classes }}{% endif %} dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ _(item.title) }}
            </a>
            <ul class="dropdown-menu">
                {% for child in item.children %}
                    {{ default_render_links(child) }}
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li class="{% if item.active %} active {% endif %}">
            {% if not item.url == "<no_link>" %}
                <a class="{% if item.classes %}{{ item.classes }}{% endif %}" href="{{ h.url_for(item.url) }}" {% if item.attributes %} {{ attributes(item.attributes) }} {% endif %}>
                    {{ _(item.title) }}
                </a>
            {% else %}
                <span class="{% if item.classes %}{{ item.classes }}{% endif %}" {% if item.attributes %} {{ attributes(item.attributes) }} {% endif %}>
                    {{ _(item.title) }}
                </span>
            {% endif %}
        </li>
    {% endif %}
{% endmacro %}


{% macro collapse_links(item, with_children=True) %}
    {% set has_active_child = h.menu_has_active_descendant(item) if not item.active else False %}

    <li class="{% if item.active %} active {% endif %}">
        <div class="link-wrapper">
            {% if not item.url == "<no_link>" %}
                <a class="link-item {% if item.classes %}{{ item.classes }}{% endif %}" href="{{ h.url_for(item.url) }}" {% if item.attributes %} {{ attributes(item.attributes) }} {% endif %}>
                    {{ _(item.title) }}
                </a>
            {% else %}
                <span class="link-item no-link {% if item.classes %}{{ item.classes }}{% endif %}" {% if item.attributes %} {{ attributes(item.attributes) }} {% endif %}>
                    {{ _(item.title) }}
                </span>
            {% endif %}
            {% if with_children and item.children %}
                <button class="btn btn-toggle collapse-trigger {% if not has_active_child %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ul-{{ item.id }}" aria-expanded="{{ 'true' if has_active_child else 'false' }}">
                    <i class="fas fa-chevron-down"></i>
                </button>
            {% endif %}
        </div>
        {% if with_children and item.children %}
            <ul class="list-unstyled collapse {% if has_active_child %}show{% endif %}" id="collapse-ul-{{ item.id }}">
                {% for child in item.children %}
                    {{ collapse_links(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}


{% macro default_menu_tree(tree) %}
    <ul>
        {% for item in tree %}
            {{ default_render_links(item) }}
        {% endfor %}
    </ul>
{% endmacro %}


{% macro main_nav_menu_tree(tree) %}
    {#
        Render without first 'ul', as the header.html template has the block inside the 'ul' element.

    #}
    {% for item in tree %}
        {{ default_render_links(item, with_children=False) }}
    {% endfor %}
{% endmacro %}


{% macro main_nav_dropdown_menu_tree(tree) %}
    {#
        Render without first 'ul', as the header.html template has the block inside the 'ul' element.

    #}
    {% for item in tree %}
        {{ dropdown_render_links(item) }}
    {% endfor %}
{% endmacro %}


{% macro footer_menu_tree(tree) %}
    <ul class="list-unstyled">
        {% for item in tree %}
            {{ default_render_links(item) }}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro menu_collapse_tree(tree) %}
    <ul class="list-unstyled">
        {% for item in tree %}
            {{ collapse_links(item) }}
        {% endfor %}
    </ul>
{% endmacro %}
